<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ponta_clinic</title>
  <link rel="stylesheet" href="app/assets/stylesheets/home.scss">
</head>


<body>

<h1>Articles#top</h1>
<p>Find me in app/views/articles/top.html.erb</p>

<%= @article.id %>

<%= @article.content %>

<%= link_to("保存する","/bookmarks/#{@article.id}/toggle") %>

<p>コメント（<%= @article.comments.count %>）</p>

<br>

 <% @comments.each do |comment| %>
 <div class = "comment" id="comment-<%= comment.id %>" data- comment-id="<%= comment.id %>">
  <p><%= comment.user_id %> さん</p>
  <p><%= comment.body %></p><br>
	<%= render "likes/like", comment: comment %>
  <%= link_to("編集","/articles/#{@article.id}/comments/#{comment.id}/edit") %>
   <% if current_user == nil %>
    <%= "" %>
   <% elsif current_user.id == comment.user_id%>
    <%= link_to("削除","/articles/#{@article.id}/comments/#{comment.id}",method: :post) %>
   <% else %>
    <%= "" %>
   <% end %>
 </div>

<% end %>

<p>次はarticle_idごとに投稿できるformを作る！</p>

<% if user_signed_in? %>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
<% end %>
</body>
