<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ponta_clinic</title>
  <link rel="stylesheet" href="app/assets/stylesheets/home.scss">
	</head>


	<body>

<h1>ponta_clinic</h1>
<p>カラダのエンタメサイト</p>
<% article0 = @articles[0] %>
 <%= link_to(articles_show_path(id:article0.id), class: 'box',) do %>
	 <div class="article">
		<h1>ここに写真</h1>
		<%= article0.content %>
	 </div>

	 <div class="comment">
     <p>ここに誰がしかのコメントを入れたい</p>
   </div>
 <% end %>




<% article1 = @articles[1] %>
<%= link_to(articles_show_path(id:article1.id), class: 'box') do %>
	<div class="article">
	 <h1>ここに写真</h1>
	 <%= article1.content %>
	</div>

	<div class="comment">
		<p>ここに誰がしかのコメントを入れたい</p>
	</div>
<% end %>

<%= link_to("current_userの保存記事一覧","/bookmarks/index") %>


<h2>今の課題</h2>

<p>ユーザー情報を乗っけておくスペース</p>

<p>・タグ付け機能　Tag-it使用</p>
<p>・検索機能　タグ・タイトルから</p>
<p>と思ったがこれは投稿機能をつけた後で。（タグ付けはここに入れるから）</p>
<p></p>
<p></p>
<p></p>
<p>　　</p>

<p></p>
<p>記事を選んだらポイント３項目＋コメント一覧・機能 (OK)</p>
<p>記事本文まで行ったらpick(OK)、いいね的機能(まだ)</p>
<p></p>
<p>シェアボタンはlocalhost環境ではできないらしい。実装してURL作成するときに。</p>
<p></p>

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->



    <nav>
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'sign up', new_user_registration_path  %>
        <%= link_to 'login', new_user_session_path  %>
      <% end %>
    </nav>

  </body>
</html>
